<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/ae58067270.js" crossorigin="anonymous"></script>



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Finlandica&family=Anonymous+Pro&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,700;8..144,800;8..144,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@1,200&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.10/fullpage.min.css"
        integrity="sha512-5MGDCtVeXPQtSGLs2lG9mkb1tWc35ZSaBgJca+YMJxOIgLUaopFR28hmwJCk0W2KR8Ydt7vg3E+KS5XwbNFmMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/fav/favicon-16x16.png">
    <link rel="manifest" href="images/fav/site.webmanifest">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/nav.css">

    <title>Ndujekwu Ugochukwu</title>
</head>

<body>
    <%- include("nav.ejs") %>
        <div id="fullPage">
            <div class="section">

                <div id="" class=" home" style="background-color: #6a19ff;">
                    <div class="container container-fluid home-every">
                        <div class="home-body">
                            <h1>I develop the backend.</h1>
                        </div>

                        <div class="home-skills">
                            <h2>Nodejs | TypeScript | MongoDB | Python </h2>
                        </div>
                    </div>
                </div>

            </div>
            <div class="section">
                <div id="" class="about" style="background-color: #10161e;">
                    <div class="container container-fluid">
                        <div class="about-content">
                            <h1>ABOUT </h1>
                            <div class="about-me">
                                <div class="typewriter">
                                    <h2><span class="typed-text"></span><span class="cursor">&nbsp;</span></h2>
                                </div>
                                <p>
                                    I'm a backend developer and I focus on web development. I started
                                    my programming journey with python and I absolutely enjoyed it
                                    until I met my real love; JavaScript.
                                </p>
                                <p>
                                    Currently, I'm also an undergraduate of the University of Lagos and I study
                                    Electrical and Electronics Engineering.
                       
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div id="" class="work" style="background-color: #6a19ff;">
                    <div class="contain-col container container-fluid">
                        <div class="row">
                            <div class="col-md-6 f-col">
                                <img class="circle-img"
                                    src="https://thumbs.dreamstime.com/b/programmer-people-concept-use-laptop-programming-code-program-icon-spreading-modern-flat-style-vector-173918729.jpg-"
                                    alt="" />
                            </div>
                            <div class="col-md-6 s-col">
                                <h1>WORK</h1>
                                <p>I've worked on several personal and open source projects. Check out some selected
                                    projects.
                                </p>
                                <form action="/works" method="get">
                                    <button type="submit" class="btn btn-outline-light btn-lg">
                                        PROJECTS
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">

                <div id="" class="contact" style="background-color: #10161e;">


                    <div class="container container-fluid">
                        <div class="contact-content">
                            <h1>CONTACT</h1>
                            <div class="contact-me">
                                <p>
                                    I'm open to work on open-source projects and I also offer freelance services. Do
                                    well to hit me up!
                                </p>
                                <a type="button" class="btn btn-outline-light btn-lg download-btn"
                                    href="mailto:ugopeter26@gmail.com">
                                    EMAIL ME
                                </a>
                            </div>
                        </div>
                    </div>
                    <footer id="footer">
                        <i class="fa-brands fa-twitter" onclick='window.open("https://twitter.com/ugo_jekwu")'></i>

                        <i class="fa-brands fa-instagram"
                            onclick='window.open("https://www.instagram.com/ugo_ndu.py/")'></i>
                        <i class="fa-brands fa-linkedin"
                            onclick='window.open("https://www.linkedin.com/in/peter-ndujekwu-487716232/")'></i>
                        <i class="fa-brands fa-github" onclick='window.open("https://github.com/ndujesco/")'></i>
                    </footer>
                </div>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.10/fullpage.min.js"
                integrity="sha512-Xaje5GN/tSuxnQNdbOMppDPWWpPMN0WGfay1St6ckxBqnm3hB66iVqBbLXmujadwsH9KOUVHJZ3GR9QpAEF1GQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript">
                new fullpage("#fullPage", {
                    autoScrolling: true,
                    navigation: true,

                    anchors: ["home", "about", "work", "contact"],
                    credits: { enabled: false },
                    recordHistory: false

                })
            </script>
            <script src="index.js"></script>

</body>

</html>

//
https://thumbs.dreamstime.com/b/programmer-people-concept-use-laptop-programming-code-program-icon-spreading-modern-flat-style-vector-173918729.jpg-CSSVD4EDVF